jobs:
  # Build the docker image and deploy it to Heroku.
  build_and_deploy:
    docker:
      - image: alpine/bombardier:latest
    steps:
      # Deploy to Heroku
      - heroku/install
      - run: heroku container:login
      - heroku/push-docker-image:
          process-types: web
      - heroku/release-docker-image:
          process-types: web

orbs:
  # For using Heroku CLI commandï½“.
  heroku: circleci/heroku@1.2.6

version: 2.1
workflows:
  heroku_deploy:
    jobs:
      - build_and_deploy:
          requires:
            # Deploy after testing.
            - build_and_test
