version: 2.1
description: "Deploying Docker to Heroku"

executors:
  node:
    docker:
      - image: circleci/node:12

commands:
  setup:
    steps:
      - setup_remote_docker
  install_dependencies:
    steps:
      - run:
          name: "Install Heroku CLI, if necessary"
          command: |
            if [[ $(command -v heroku) == "" ]]; then
              curl https://cli-assets.heroku.com/install.sh | sh
            else
              echo "Heroku is already installed. No operation was performed."
            fi

  docker-build-release:
    parameters:
      app-name:
        description: "The Heroku app name to which the application should be deployed"
        type: string
      app-arg:
        description: "The Heroku Dockerfile args"
        type: string
      app-type:
        description: "The Heroku app type (web or worker) of the application to be deployed"
        type: string
        default: "web"
    steps:
      - run:
          name: Login into Heroku Docker Repository
          command: |
            docker login --username=$HEROKU_LOGIN --password=$HEROKU_API_KEY registry.heroku.com
      - run:
          name: Deploy Heroku Docker Container
          command: |
            heroku container:push web -a hookah-test1
            heroku container:release web -a hookah-test1
