# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  # For using Heroku CLI commandï½“.
  heroku: circleci/heroku@1.2.6

jobs:
  # Build the docker image and deploy it to Heroku.
  deploy:
    docker:
      - image: alpine/bombardier:latest
    steps:
      # For using docker commands.
      - setup_remote_docker:
          version: 19.03.13
      # Deploy to Heroku
      - heroku/install
      - run: heroku container:login
      - heroku/push-docker-image:
          process-types: web
      - heroku/release-docker-image:
          process-types: web

workflows:
  heroku_deploy:
    jobs:
      - deploy
