version: 2.1
description: "Deploying Docker to Heroku"

executors:
  node:
    docker:
      - image: circleci/node:12

jobs:     
  deploy:
       machine: true
       steps:
         - checkout
         - run:
             name: pull and push Docker image to Heroku
             command: |
               docker pull alpine/bombardier
               docker tag alpine/bombardier registry.heroku.com/${HEROKU_APP_NAME}/web
               docker push registry.heroku.com/${HEROKU_APP_NAME}/web
               sudo curl https://cli-assets.heroku.com/install.sh | sh
               HEROKU_API_KEY=${HEROKU_TOKEN} heroku container:login
               HEROKU_API_KEY=${HEROKU_TOKEN} heroku container:release -a ${HEROKU_APP_NAME} web

workflows:
 heroku_deploy:
   jobs:
     - deploy
